
  .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px; // un poco más de espacio
  padding: 20px;
  height: calc(100vh - 15vh);
  overflow-y: auto;
  box-sizing: border-box;
}

.container-img-trivial {
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-trivial {
  width: 100%;
  height: auto;
  max-width: 300px;
}

.form-configuracion {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90vw;
  max-width: 400px;
}

.label-config {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color:#4f4e8b;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select-config {
  padding: 8px 12px;
  border-radius: 10px;
  border: 2px solid #4f4e8b; // Azul primario en lugar del gris por defecto
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #4f4e8b; // Color de texto azul primario
  background-color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    border-color: #fa5f34; // Rojo primario al enfocar
    outline: none;
    box-shadow: 0 0 0 3px rgba(250, 95, 52, 0.3); // Sombra suave en rojo primario
  }

  option {
    color: #4f4e8b;
    background-color: white;

    &:hover {
      background-color: #fdbf24; // Amarillo primario en hover
      color: white;
    }
  }
}


.btn-comenzar {
  padding: 12px;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  background-color: #fa5f34;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  align-self: center; // Asegura que se centre en columna
}
.btn-comenzar:hover {
  text-decoration: underline;
  background-color: #dd4c23;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.btn-comenzar:active {
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .form-configuracion {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .label-config {
    flex: 1 1 40%;
    font-size: 1rem;
  }

  .btn-comenzar {
    flex: 0 0 auto;
    font-size: 1.1rem;
    padding: 14px 24px;
    align-self: center; // Esto centra verticalmente el botón
  }
}














